<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="room" class="tutorial.nested.Room">
        <property name="length" value="100"/>
        <property name="width" value="200"/>
        <property name="height" value="15"/>
    </bean>
    <bean id="bathRoom" class="tutorial.nested.Room$Bathroom">
        <property name="bLength" value="100"/>
        <property name="bWidth" value="200"/>
        <property name="bHeight" value="15"/>
    </bean>
    <bean id="room1" class="tutorial.nested.Room"/>
    <bean id="bathRoom1" class="tutorial.nested.Room$Bathroom"/>
</beans>